<html>
    <body>
        <form action='/addb' method='post'>
           Bookname <input type="text" name="bname">
           <br>
           Bookid<input type="text" name="bid">
           <br>
           Author:<input type="text" name="bauth">
           <br>
           Copies:<input type="text" name="bcpy">
<input type="submit" value="ADD">
            </form>