<html>
    <body>
        <form action='/addm' method='post'>
           Membername <input type="text" name="memname">
           <br>
           Memberid <input type="text" name="memid">
           <br>
           
<input type="submit" value="ADD">
            </form>