<html>
    <body>
        <h1>
            LogIn...
        </h1>
        <form action='/log' method="post">
            username<input type="text" name='uname'>
            <br>
            <br>
            password<input type='password' name='pass'>
            <br>
            <br>
            <input type='submit' value='LOGIN'>
            </form>
            