<html>
    <body>
        <h1>Welcome Admin!!</h1>
        <a href='/addbook'>add book</a>
        <br>
        <a href='/viewbook'>viewbook</a>
        <br>
        <a href='/addmember'>addmember</a>
        <br>
        <a href='/viewmember'>Viewmember</a>
        <br>
        <br>
        <a href='/issue'>Issue</a>

    </body>
    </html>